.chart-demo {
  margin: 50px;
}
.chart-demo .chart {
  height: 400px;
}
.reasons {
  display: flex;
  width: 100%;
}

a, a:active, a:hover, a:visited {
  color: black
}

.reason-list {
  width: 50%;
}
